
<div class="page-title">
  <h3>Users Orders History</h3>
  <a routerLink="/admin/history">Go to history page</a>
  <button class="btn btn-small" data-tooltip="Open Filter" (click)="isFilterVisible = !isFilterVisible"
    data-position="bottom" #tooltip [ngClass]="{ 'active': isFilterVisible, 'red': isFiltered() }">
    <i class="material-icons">filter_list</i>
  </button>
</div>

  <app-users-history-filter *ngIf="isFilterVisible" (onFilter)="applyFilter($event)"></app-users-history-filter>


    <div *ngIf="!reloading; else reloadingBlock">
      <div *ngIf="usersOrders.length > 0; else empty">
        <app-users-history-list [userOrder]="usersOrders"></app-users-history-list>

        <div class="center" *ngIf="!noMoreOrders">
          <button class="btn btn-small waves-effect" *ngIf="!loading; else loader"
            (click)="loadMore()">Load more</button>
          <ng-template #loader>
            <app-admin-loader></app-admin-loader>
          </ng-template>
        </div>
      </div>

      <ng-template #empty>
        <div class="center">No orders!</div>
      </ng-template>

    </div>






  <ng-template #reloadingBlock>
    <app-admin-loader></app-admin-loader>
  </ng-template>


