<!-- <table class="highlight" *ngIf="orders.length > 0">
  <thead>
    <tr>
      <th>№</th>
      <th>Date</th>
      <th>Time</th>
      <th>Count</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.order }}</td>
      <td>{{ order.date | date: 'dd.MM.yyyy' }}</td>
      <td>{{ order.date | date: 'HH:mm:ss' }}</td>
      <td>{{ computePrice(order) }} $</td>
      <td>
        <button class="btn btn-small" (click)="selectOrder(order)">
          <i class="material-icons">open_in_new</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal modal-fixed-footer" #modal>
  <div class="modal-content" *ngIf="selectedOrder">
    <h4>Order № {{ selectedOrder.order }}</h4>

    <table class="highlight">
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Cost</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of selectedOrder.list">
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.cost }}</td>
        </tr>
      </tbody>

    </table>
    <div class="order-summary">
      <p>Total cost {{ computePrice(selectedOrder) }} $</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-black" (click)="closeModal()">Close</button>
  </div>
</div> -->


<div class="page-title">
  <h3>Users Orders History</h3>
  <a routerLink="/admin/history">Go to history page</a>
  <button class="btn btn-small" data-tooltip="Open Filter" (click)="isFilterVisible = !isFilterVisible"
    data-position="bottom" #tooltip [ngClass]="{ 'active': isFilterVisible, 'red': isFiltered() }">
    <i class="material-icons">filter_list</i>
  </button>
</div>

  <app-users-history-filter *ngIf="isFilterVisible" (onFilter)="applyFilter($event)"></app-users-history-filter>


    <div *ngIf="!reloading; else reloadingBlock">
      <div *ngIf="usersOrders.length > 0; else empty">
        <app-users-history-list [userOrder]="usersOrders"></app-users-history-list>

        <div class="center" *ngIf="!noMoreOrders">
          <button class="btn btn-small waves-effect" *ngIf="!loading; else loader"
            (click)="loadMore()">Load more</button>
          <ng-template #loader>
            <app-admin-loader></app-admin-loader>
          </ng-template>
        </div>
      </div>

      <ng-template #empty>
        <div class="center">No orders!</div>
      </ng-template>

    </div>






  <ng-template #reloadingBlock>
    <app-admin-loader></app-admin-loader>
  </ng-template>


