@import '../../../../assets/scss-tools/vars';

.page-title {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $standart;
  h3 {
    color: #464c54;
    font-size: 28px;
  }
  a {
    color: $accent;
    font-size: 20px;
    margin-top: 24px;
    transition: all .3s;
    &:hover {
      color: #464c54;
    }
  }
  button {
    // padding: 10px 20px;
    border: none;
    color: $accent;
    background: #464c54;
    &:hover {
      color: #858598;
    }
  }
}

.center {
  margin-top: 20px;
}
