
<ul class="collapsible expandable" #collaps>
      <li *ngFor="let category of categories" >

        <div class="collapsible-header collaps-bg"
          [style.background-image]="onImageLoaded(subcategory.imageSrc)"
         *ngFor="let subcategory of category.category" (click)="menuCategory(subcategory['_id'])">
          <div >
            <h5>{{ subcategory.title }}</h5>
          </div>
        </div>
        <div class="collapsible-body">

            <div class="progress" *ngIf="progress">
                <div class="indeterminate"></div>
            </div>
          <div class="card-content" *ngIf="!progress">
            <ul class="order-list" *ngFor="let positions of position">
              <li >
                <div class="order-name">
                  <p>{{ positions.name }}</p>
                  <span>{{ positions.body }}</span>
                </div>
                <div class="order-cart">
                  <span>${{ positions.cost }}</span>
                  <!-- <a class="order-btn">Add to cart</a> -->
                  <a class="order-btn" (click)="addToCart(positions)">
                    <i class="material-icons">shopping_cart</i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>


      </li>


  <!-- <li>
    <div class="collapsible-header collaps-bg">
      <h5>Burger</h5>
    </div>
    <div class="collapsible-body">
      <div class="card-content">
        <ul class="order-list">
          <li>
            <div class="order-name">
              <p>Burger X</p>
              <span>Beef, chees, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$8</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Sushi Tokio</p>
              <span>Rice, feesh, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$12</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Chicken Burger</p>
              <span>Chicken, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$10</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Creste di Galli</p>
              <span>Pasta, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$7</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header collaps-bg">
      <h5>Pizza</h5>
    </div>
    <div class="collapsible-body">
      <div class="card-content">
        <ul class="order-list">
          <li>
            <div class="order-name">
              <p>Burger X</p>
              <span>Beef, chees, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$8</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Sushi Tokio</p>
              <span>Rice, feesh, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$12</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Chicken Burger</p>
              <span>Chicken, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$10</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Creste di Galli</p>
              <span>Pasta, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$7</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header collaps-bg">
      <h5>Drink</h5>
    </div>
    <div class="collapsible-body">
      <div class="card-content">
        <ul class="order-list">
          <li>
            <div class="order-name">
              <p>Burger X</p>
              <span>Beef, chees, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$8</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Sushi Tokio</p>
              <span>Rice, feesh, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$12</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Chicken Burger</p>
              <span>Chicken, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$10</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Creste di Galli</p>
              <span>Pasta, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$7</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </li> -->
<!-- </div> -->
</ul>

<app-loader *ngIf="loader"></app-loader>
