
<ul class="collapsible expandable" #collaps>
      <li *ngFor="let category of categories" >

        <div class="collapsible-header collaps-bg"
          [style.background-image]="onImageLoaded(subcategory.imageSrc)"
         *ngFor="let subcategory of category.category" (click)="menuCategory(subcategory['_id'])">
          <div >
            <h5>{{ subcategory.title }}</h5>
          </div>
        </div>
        <div class="collapsible-body">

            <div class="progress" *ngIf="progress">
                <div class="indeterminate"></div>
            </div>
          <div class="card-content" *ngIf="!progress">
            <ul class="order-list" *ngFor="let positions of position">
              <li >
                <div class="order-name">
                  <p>{{ positions.name }}</p>
                  <span>{{ positions.body }}</span>
                </div>
                <div class="input-field inline order-position-input">
                  <input type="number" value="1" min="1"
                   [(ngModel)]="positions.quantity"
                   (blur)="onBlur(positions)">
                </div>
                <div class="order-cart">
                  <span>${{ positions.cost }}</span>
                  <button class=" btn" type="button" (click)="addToCart(positions)"
                  [disabled]="!positions.quantity || positions.quantity < 1" >
                    <i class="material-icons">shopping_cart</i>
                </button>
                </div>
              </li>
            </ul>
          </div>
        </div>


      </li>

</ul>

<app-loader *ngIf="loader"></app-loader>

