<div class="navbar-fixed">
  <nav class="transparent">
    <div class="container">
      <div class="nav-wrapper ">
        <a routerLink="/" class="brand-logo">Milano</a>
        <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/">Home</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/">Menu</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/">About</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/">Contact</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/login">Login</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/login">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


