<div *ngIf="positions$ | async as positions; else loader" class="order-list">
    <table class="highlight" *ngIf="positions.length !== 0; else empty">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cost</th>
          <th>Count</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <tr *ngFor="let position of positions">
        <td>{{ position.name }}</td>
        <td>{{ position.cost }} $.</td>
        <td>
          <div class="input-field inline order-position-input">
            <input type="number" value="1" min="1" [(ngModel)]="position.quantity" (blur)="onBlur(position)">
          </div>
        </td>
        <td>
          <button class="btn waves-effect wavers-light btn-small"
           [disabled]="!position.quantity || position.quantity < 1"
            (click)="addToOrder(position)">Add</button>
        </td>
      </tr>

      </tbody>
    </table>
    <ng-template #empty>
      <div class="center">
        In this category no positions!
      </div>
    </ng-template>
  </div>

  <ng-template #loader>
    <app-admin-loader></app-admin-loader>
  </ng-template>
