
<div class="navbar-fixed">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a routerLink="/" class="brand-logo  blue-text">Milano</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"
           >
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/">Home</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/menu">Menu</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/about">About</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/contact">Contact</a>
          </li>
          <li routerLinkActive="active" *ngIf="!auth.isLoggedIn()">
            <a routerLink="/login">Login</a>
          </li>
           <li routerLinkActive="active" *ngIf="!auth.isLoggedIn()">
            <a routerLink="/register">Register</a>
          </li>

          <li routerLinkActive="active" *ngIf="auth.isLoggedIn()" >
            <a (click)="logout($event)">Logout</a>
          </li>
        </ul>
      </div>


    </div>

  </nav>
  <div class="user-card" *ngIf="auth.isLoggedIn()">
    <div>
      <a routerLink="/profile">{{ auth.userToken.email }}</a>
      <a class="right valign-wrapper sidenav-trigger"
       data-target="slide-cart">
        <i class="material-icons">shopping_cart</i> | $ 32
      </a>
    </div>
  </div>
</div>

<!-- mobile nav -->

<ul id="slide-out" class="sidenav" #toggleMenu >
  <li>
    <div class="user-view" *ngIf="auth.isLoggedIn()">
    <!-- <div class="background">
      <img src="../../assets/img/place.jpeg" alt="">
    </div> -->
      <a href="#email"><span class="white-text email">{{ auth.userToken.email }}</span></a>
    </div>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/">Home</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/menu">Menu</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/about">About</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/contact">Contact</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/login">Login</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/login">Register</a>
  </li>
  <li routerLinkActive="active" *ngIf="auth.isLoggedIn()">
    <a (click)="logout($event)">Logout</a>
  </li>
</ul>


<!-- Aside Cart -->
<div class="cart">
  <ul class="sidenav" id="slide-cart" #cart>

    <div class="cart-flex">
      <div>
        <li>
          <a>Your Cart</a>
          <i class="material-icons" (click)="close()">close</i>
        </li>
        <li>
          <a>
            <p>
              Pizza Chicked BBQ <span> $ 8</span>
              <i class="material-icons">close</i>
            </p>
            <span>26”, deep-pan, thin-crust</span>
          </a>
        </li>
        <li>
          <a>
            <p>
              Pizza Chicked BBQ <span> $ 8</span>
              <i class="material-icons">close</i>
            </p>
            <span>26”, deep-pan, thin-crust</span>
          </a>
        </li>
        <li>
          <a>
            <p>
              Pizza Chicked BBQ <span> $ 8</span>
              <i class="material-icons">close</i>
            </p>
            <span>26”, deep-pan, thin-crust</span>
          </a>
        </li>
        <li>
          <a>
            <p>
              Pizza Chicked BBQ <span> $ 8</span>
              <i class="material-icons">close</i>
            </p>
            <span>26”, deep-pan, thin-crust</span>
          </a>
        </li>
        <div class="total">
          <p>
            Order total: <span>$21.02</span><br>
            Delivery: <span>$2.2</span>
          </p>
        </div>
        <div class="total">
          <h5>
            Total: <span>$23.2</span>
          </h5>
        </div>


      </div>

    </div>
    <li class="cart-btn">
      <a >Go to Checkout </a>
    </li>
  </ul>

</div>


