@import '../../../../assets/scss-tools/vars';

.navbar-fixed {
  // font-family: 'Merienda', cursive;
  font-family: $cursive;
  height: auto;
  nav {
    background: rgba(0, 0, 0, .35)!important;
  }
  .nav-wrapper {
    right: 30px;
    ul li {
      &.active {
        background-color: rgba(0,0,0,0)!important;
        a {
          color: #fff!important;
        }
      }
      a {
        color: #f97878;
        font-weight: bold;
        transition: .4s;
        &:hover {
          color: #fff!important;
        }
      }
    }
    i {
      color: #f97878;
    }
  }
  .user-card {
    position: fixed;
    right: 0;
    margin: 0 50px;
    padding-top: 22px;
    font-size: 16px;
    a {
      color: #fff!important;
      margin-right: 10px;
      transition: .4s;
      &:hover {
        color: #f97878!important;
      }
    }
    i {
      font-size: 18px;
      margin: 0 5px;
    }
  }

}
.cart {
  position: relative;
  .sidenav {
    width: 350px;
    // position: relative;
    li {
      line-height: 2!important;
      display: flex;
      justify-content: space-between;
      &.cart-header {
        text-align: center;
        padding: 0 14px;
        color: $accent;
        margin-bottom: 10px;
        background-color: rgb(236, 233, 233);
        i {
          vertical-align: middle;
          padding-top: 20px;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
    .order-list {
      padding: 0 10px;
      li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(236, 233, 233);
        font-family: $standart;
        margin-top: 10px;
        .order-name {
          padding: 0;
          margin: 0;
          p {
            font-family: $cursive;
            font-size: 12px;
            margin: 0;
          }
          span {
            color: $grey;
            font-size: 12px;
          }
        }
        .order-cart {
          span {
            font-size: 12px;
          }
        }
      }
      i {
        color: $grey;
        font-size: 14px;
        cursor: pointer;
      }
    }
    .cart-bottom {
      position: relative;
      position: absolute;
      bottom: 80px;
      a.cart-btn {
        text-align: center;
        background-color: #282b2e;
        width: 100%;
      }
    }
  }

}

@media (max-width: 960px) {
  .navbar-fixed {
    .user-card {
      margin: 0 0;
    }
  }


}
