@import '../../../../assets/scss-tools/vars';

.overlay {
  background: rgba(112, 87, 176, 0.9);
  width: 100%;
  height: 100%;
}

.section-slider {
  position: relative;
  top: 0;
  left: 0;
  font-family: $standart;
  height: 100%;
  h2 {
    color: $accent;
  }
  .slide-title {
    display: block;
    font-size: 22px;
    margin-top: 130px;
    padding-right: 40px;
    font-family: $standart;
    .btn {
      font-family: $standart;
    }
  }
}

.slide-bg-1 {
  background-image: url(../../../../assets/img/large-burger1.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.slide-bg-2 {
  background-image: url(../../../../assets/img/large-pizza.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.slide-bg-3 {
  background-image: url(../../../../assets/img/large-sushi1.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.section-cards {
  background: #282b2e ;
  font-family: $standart;
  h3 {
    color: $accent;
    font-family: $cursive;
    margin-bottom: 40px;
    border-bottom: 1px solid $accent;
  }
  .card {
    background: transparent;
    box-shadow: none;
    color: #fff;
    h4 {
      font-size: 22px;
    }
    p {
      color: $grey;
    }
    i {
      color: $accent;
      margin-top: 50px;
      margin-right: 20px;
    }
  }
}

.section-info {
  background-image: url(../../../../assets/img/large-sushi.jpeg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  .info-block {
    background: rgba(136, 136, 136, 0.4);
    padding: 10px 20px 10px;
    border-radius: 5px;
    font-family: $standart;
    color: #fff;
    .collection .collection-item {
      background: rgba(136, 136, 136, 0.3)!important;
      i {
        color: $accent;
        margin-right: 8px;
      }
    }
  }
}

.section-order {
  background: #fff;
  font-family: $standart;
  .card {
    background: transparent;
    box-shadow: none;
    h4 {
      font-size: 22px;
    }
    p {
      color: $grey;
    }
    i {
      color: $accent;
      margin-top: 30px;
      margin-right: 20px;
    }
  }
}

.section-work {
  background-color: #e6e6e6;
  font-family: $standart;
  background-image: url(../../../../assets/img/place.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  .card {
    background: rgba(0, 0, 0, 0.8)!important;
  }
  .card-content {

    span {
      color: $grey!important;
    }
  }
  .card-reveal {
    background: rgba(27, 27, 27, 0.8);
    color: $grey!important;
    span {
      color: $accent!important;
      font-family: $cursive;
    }
    .collection-item {
      background: rgba(27, 27, 27, 0.8);
    }
  }
}

.section-popular {
  background-color: #f2f1f1;
  padding: 70px 0;
  .card .card-content {
    padding: 14px;
  }
  .order-list {
    li {
      display: flex;
      justify-content: space-between;
      padding-bottom: 6px;
      border-bottom: 1px solid $grey;
      font-family: $standart;
      margin: 15px 0;
      .order-name {
        p {
          font-family: $cursive;
          font-size: 18px;
        }
        span {
          color: $grey;
        }
      }
      .order-cart {
        padding-top: 5px;
        span {
          font-size: 20px;
          color: $grey;
          margin-right: 10px;
        }
        a {
          text-decoration: none;
          color: $accent;
          transition: .5s;
          &.order-btn {
            padding: 10px;
            border: 1px solid $accent;
            font-size: 16px;
          }
          &:hover.order-btn:hover {
            background-color: $accent;
            color: #fff;
          }
        }
      }
    }
  }
}

.section-parallax {
  position: relative;
  .parallax-container {
    height: 100vh;
  }
  .overlay-px {
    background-color: rgba(0, 67, 95, 0.6);
    height: 100%;
    width: 100%;
  }
  .parallax-block {
    padding-top: 20%;
    text-align: center;
    height: 100%;
    font-family: $standart;
    h3 {
      font-family: $cursive;
      color: #fff;
    }
    p {
      color: $grey;
      font-size: 18px;
    }
    a {
      margin-right: 10px;
    }
  }
}

// media

@media(max-width: 712px) {
  .section-cards {
    .card {
      h4 {
        font-size: 18px;
      }
      i {
        margin-right: 5px;
      }
    }
  }
}




@media(max-width: 500px) {
  .section-popular {
    .order-list {
      li {
        display: block;
        padding-bottom: 20px;
        .order-name {
          margin-top: 20px;
        }
        .order-cart {
          margin-top: 20px;
        }
      }
    }
  }
}
