
<div class="row profile">
  <div class=" profile-menu">
    <ul id="slide-user" class="sidenav sidenav-fixed a-sidenav" #userMenu>
      <li>
        <div class="user-view">
          <a routerLink="/profile"><span class="white-text email">{{ auth.userToken.email }}</span></a>
        </div>
      </li>
      <li><a class="waves-effect" routerLink="/profile"><i class="material-icons">local_mall</i>My Orders</a></li>
      <li><a class="waves-effect" ><i class="material-icons">chat</i>Chat</a></li>
    </ul>
    <a href="#" class="sidenav-trigger" data-target="slide-user"><i class="material-icons" style="font-size: 36px;" >exit_to_app</i></a>
  </div>

  <div class="col s12 m9 offset-m3">
    <router-outlet></router-outlet>
  </div>
</div>


