@import '../../../../assets/scss-tools/vars';
.profile {
  height: 100vh;
  h5 {
    padding-top: 80px;
    text-align: center;
    margin-top: 0;
  }
  .profile-menu {
    a.sidenav-trigger {
      position: absolute;
      bottom: 40px;
      left: 30px;
      color: $accent;
      z-index: 9;
    }
  }
  .sidenav {
    z-index: 10;
    width: 20%;
    min-width: 250px;
    .user-view {
      height: 300px;
      background-color: $accent;
      text-align: center;
      display: flex;
      align-items: center;
    }
  }
  .a-sidenav {
    color: #a1a1b7;
    font-family: $standart;
  }
  h3 {
    padding: 20px;
    text-align: center;
    z-index: 5555;
  }
}


@media(max-width: 992px) {
  .sidenav {
    z-index: 1100!important;
  }
}
