

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<div  *ngIf="categories.length !== 0; else loader">
  <div class="row" *ngIf="categories.length !== 0; else empty">
    <div class="col s12 m8 l4 offset-m2"
      *ngFor="let category of categories">
      <div class="card medium" *ngFor="let subcategory of category.category">
        <div class="card-image">
          <img [src]="subcategory.imageSrc">
          <span class="card-title">Category {{ subcategory['title'] }}</span>
        </div>
        <div class="card-action" >
          <a [routerLink]="['/admin/orders/', subcategory._id]">Add orders of {{ subcategory['title'] }}</a>
        </div>
      </div>

    </div>
  </div>

</div>

<ng-template #empty>
  <div class="center">No category!</div>
</ng-template>



