
<div class="page-title">
  <h3>Your Orders History</h3>
</div>


      <div *ngIf="!reloading; else reloadingBlock">
        <div *ngIf="usersOrders.length > 0; else empty">
          <app-user-orders-list [userOrder]="usersOrders"></app-user-orders-list>

          <div class="center" >
            <button class="btn btn-small waves-effect" *ngIf="!loading; else loader"
            (click)="loadMore()">Load more</button>
            <ng-template #loader>
              <app-loader></app-loader>
            </ng-template>
          </div>
        </div>

        <ng-template #empty>
          <div class="center">No orders!</div>
        </ng-template>

      </div>






    <ng-template #reloadingBlock>
      <app-loader></app-loader>
    </ng-template>



