@import '../../../../assets/scss-tools/vars';

.page-title {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $standart;
  h3 {
    color: #464c54;
    font-size: 28px;
  }
}

.analytic {
  padding: 0 30px;
  .average-price {
    padding: 15px 0 5px;
    font-size: 20px;
    p {
      margin: 0;
    }
  }
  .analytics-block {
    width: 100%;
    height: 300px;
  }
}


.pb3 {
  padding-bottom: 30px;
}


