  <!--SIDEBAR-->

<ul class="sidenav sidenav-fixed a-sidenav">
  <h4>Milano Admin</h4>
  <li class="bold" *ngFor="let link of links" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="[link.url]" class="waves-effect waves-red lighten-1">
      <i class="material-icons">{{ link.icon }}</i>
      {{ link.name }}
    </a>
  </li>
  <li class="bold last">
    <a class="waves-effect waves-red lighten-1" (click)="logout($event)">
      <i class="material-icons">power_settings_new</i>
      Logout
    </a>
  </li>
</ul>


<main class="content" >
  <nav>
    <div class="users-chat right">
      <div>
        <a routerLink="messages"><i class="material-icons">email</i></a>
        <a class="valign-wrapper sidenav-trigger" data-target="slide-chat" (click)="openChat()">
          <i class="material-icons">chat</i></a>
      </div>
    </div>
  </nav>


  <router-outlet></router-outlet>
</main>

<a id="menu" class="waves-effect waves-light btn btn-floating">
  <i class="material-icons">info</i>
</a>

<app-admin-chat></app-admin-chat>
