  <!--SIDEBAR-->

<ul class="sidenav sidenav-fixed a-sidenav">
  <h4>Milano Admin</h4>
  <li class="bold" *ngFor="let link of links" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="[link.url]" class="waves-effect waves-red lighten-1">
      <i class="material-icons">{{ link.icon }}</i>
      {{ link.name }}
    </a>
  </li>
  <li class="bold last">
    <a class="waves-effect waves-red lighten-1" (click)="logout($event)">
      <i class="material-icons">power_settings_new</i>
      Logout
    </a>
  </li>
</ul>


<main class="content" >
  <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="messages"><i class="material-icons">email</i></a></li>
        <li routerLinkActive="active"><a routerLink="messages/chat"><i class="material-icons">chat</i></a></li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</main>

<a id="menu" class="waves-effect waves-light btn btn-floating">
  <i class="material-icons">info</i>
</a>
