<section class="section section-menu-header">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 menu-header-block">
        <h2>Choose the food from our menu</h2>
        <p>The one of the best cheefs give you a vary tasty food</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-menu-list">
  <div class="container">
    <div class="row">
      <div class="col s12 m12">
          <app-menu-list></app-menu-list>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
