<!-- <ul class="comment-section" >
  <li >
    <div class="info">
      <a>Comentator</a>
      <span>Comment Date</span>
    </div>
    <a class="avatar" >

      <div class="avatar-block">
        <img class="card-img-top"
          alt="Avatar">

        <img class="card-img-top"
          alt="Avatar">
      </div>
    </a>
    <p></p>
  </li>

  <li >
    <div class="info">
      <a >Authot</a>
      <span>Comment Date</span>
    </div>
    <a class="avatar" href="#">
      <div class="avatar-block">
        <img class="card-img-top" alt="Avatar">

        <img class="card-img-top"  alt="Avatar">
      </div>
    </a>
    <p>Comment</p>
  </li>

  <li class="write-new" >
    <form >

      <textarea placeholder="Write your comment here" name="comment"></textarea>

      <div>
        <p >
          Comment must be at least 1 character but no more than 200.
        </p>
        <p
          class="valid-form">
          This field is required
        </p>
      </div>

      <div>
        <button type="button" class="btn btn-dark" >Submit</button>
      </div>
    </form>
  </li>
</ul> -->


<div class="page-title">
  <h3>Chat with Admin</h3>
</div>

<div id="frame">
  <div class="content">
    <div class="contact-profile">
      <p>{{ auth.userToken.email }}</p>
    </div>
    <div class="messages">
      <ul *ngFor="let message of oldMessages[0]">
        <li [class]="auth.userToken.admin? 'sent': 'replies'" >
          <span>{{ message.email }} <br>
            {{ message.date | date: 'HH : m , dd.mm.yy' }}
          </span>
          <p>{{ message.message }}</p>

        </li>
      </ul>
      <ul *ngFor="let message of newMessage">
        <li class="replies" >
          <span>{{ message.email }}</span>
          <p>{{ message.message }}</p>
          {{ message.date }}
        </li>

      </ul>
    </div>
    <div class="message-input">
      <form (ngSubmit)="send()">
        <div class="wrap">
        <textarea type="text"
         placeholder="Write your message..." [(ngModel)]="message" name="message" ></textarea>
        <button class="submit btn" [disabled]="message === ''"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
  </div>
  </div>
