<!-- <ul class="comment-section" >
  <li >
    <div class="info">
      <a>Comentator</a>
      <span>Comment Date</span>
    </div>
    <a class="avatar" >

      <div class="avatar-block">
        <img class="card-img-top"
          alt="Avatar">

        <img class="card-img-top"
          alt="Avatar">
      </div>
    </a>
    <p></p>
  </li>

  <li >
    <div class="info">
      <a >Authot</a>
      <span>Comment Date</span>
    </div>
    <a class="avatar" href="#">
      <div class="avatar-block">
        <img class="card-img-top" alt="Avatar">

        <img class="card-img-top"  alt="Avatar">
      </div>
    </a>
    <p>Comment</p>
  </li>

  <li class="write-new" >
    <form >

      <textarea placeholder="Write your comment here" name="comment"></textarea>

      <div>
        <p >
          Comment must be at least 1 character but no more than 200.
        </p>
        <p
          class="valid-form">
          This field is required
        </p>
      </div>

      <div>
        <button type="button" class="btn btn-dark" >Submit</button>
      </div>
    </form>
  </li>
</ul> -->


<div class="page-title">
  <h3>Chat with Admin</h3>
</div>

<div id="frame">
  <div class="content">
    <div class="contact-profile">
      <p>{{ auth.userToken.email }}</p>
    </div>
    <div class="messages">
      <ul>
        <li class="sent">
          <span>Admin</span>
          <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
        </li>
        <li class="replies">
          <span>{{ auth.userToken.email }}</span>
          <p>When you're backed against the wall, break the god damn thing down.</p>
        </li>
      </ul>
    </div>
    <div class="message-input">
      <form  (ngSubmit)="send()">
        <div class="wrap">
        <input type="text" placeholder="Write your message..." [(ngModel)]="message" name="message" />
        <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
  </div>
  </div>
