<div class="page-title">
  <h3>Category
    <i class="material-icons">keyboard_arrow_right</i>
     Add Category
  </h3>
  <span>
    <button data-target="modal" class="modal-trigger">Delete</button>
  </span>

</div>

<div class="row">
  <form class="col s12 l8 cat-form" [formGroup]="form" (submit)="createCategory()">
    <div class="input-field">
      <input type="text" formControlName="title" name="title"
        [ngClass]="{ 'invalid': (form.controls['title'].errors && form.controls['title'].dirty)}">
      <label>Name</label>
        <span *ngIf="form.controls['title'].errors?.required && form.controls['title'].dirty">
          Field is Recuired
        </span>
        <span *ngIf="(form.controls['title'].errors?.minlength && form.controls['title'].dirty) ||
        (form.controls['title'].errors?.maxlength && form.controls['title'].dirty)">
          Minimum character 3, Maximum Character 50!
        </span>
    </div>
    <div class="input-field">
      <textarea formControlName="body" name="body" class="materialize-textarea"
      [ngClass]="{ 'invalid': (form.controls['body'].errors && form.controls['body'].dirty)}"></textarea>
      <label >Ingridients</label>
      <span *ngIf="form.controls['body'].errors?.required && form.controls['body'].dirty">
        Field is Recuired
      </span>
      <span *ngIf="(form.controls['body'].errors?.minlength && form.controls['body'].dirty) ||
      (form.controls['body'].errors?.maxlength && form.controls['body'].dirty)">
        Minimum character 3, Maximum Character 150!
      </span>
    </div>

    <div class="left">
      <input type="file" class="dn" (change)="onFileUpload($event)" #input
      accept="image/png, image/jpeg">
      <button class="btn waves-effect waves-light mb2" type="button" (click)="triggerClick()">
        <i class="material-icons left">backup</i>
        Upload Foto
      </button>
    </div>

    <div class="right">
      <button type="submit" class="waves-effect waves-light category-btn" [disabled]="!form.valid">
        Save changes</button>
    </div>

  </form>

  <div class="col s12 l4 center">
    <img class="responsive-img h200" [src]="imagePreview" *ngIf="imagePreview">
  </div>

</div>

<app-positions-form *ngIf="category?._id" [categoryId]="category._id"></app-positions-form>


<!-- Modal Structure -->
<div id="modal" class="modal" #modal>
  <div class="modal-content">
    <h4>Are you sure to delete category CATEGORYNAME  ?</h4>
    <p>Category information will be lost!</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="deleteCategory()">Yes</a>
    <a class="modal-close waves-effect waves-green btn-flat" >No</a>
  </div>
</div>

