<div class="page-title">
  <h3>
    <span routerLink="/admin/categories">Category</span>
    <i class="material-icons">keyboard_arrow_right</i>
     Add Category
  </h3>
  <span>
    <button data-target="modal" class="modal-trigger">Delete</button>
  </span>

</div>

<div class="row">
  <form class="col s12 l8 cat-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-field">
      <input type="text" formControlName="category" name="category"
        [ngClass]="{ 'invalid': (form.controls['category'].errors && form.controls['category'].dirty)}">
      <label>Category</label>
        <span *ngIf="form.controls['category'].errors?.required && form.controls['category'].dirty">
          Field is Recuired
        </span>
        <span *ngIf="(form.controls['category'].errors?.minlength && form.controls['category'].dirty) ||
        (form.controls['category'].errors?.maxlength && form.controls['category'].dirty)">
          Minimum character 3, Maximum Character 50!
        </span>
    </div>

    <div class="input-field">
      <input type="text" formControlName="name" name="name"
        [ngClass]="{ 'invalid': (form.controls['name'].errors && form.controls['name'].dirty)}">
      <label>Name</label>
        <span *ngIf="form.controls['name'].errors?.required && form.controls['name'].dirty">
          Field is Recuired
        </span>
        <span *ngIf="(form.controls['name'].errors?.minlength && form.controls['name'].dirty) ||
        (form.controls['name'].errors?.maxlength && form.controls['name'].dirty)">
          Minimum character 3, Maximum Character 50!
        </span>
    </div>

    <div class="left">
      <input type="file" class="dn" (change)="onFileUpload($event)" #input
      accept="image/png, image/jpeg">
      <button class="btn waves-effect waves-light mb2" type="button" (click)="triggerClick()">
        <i class="material-icons left">backup</i>
        Upload Foto
      </button>
    </div>

    <div class="right">
      <button type="submit" class="waves-effect waves-light btn" [disabled]="!form.valid">
        Save changes</button>
    </div>

  </form>

  <div class="col s12 l4 center">
    <div *ngIf="!imagePreview"
    class="image-block center">
      <i class="material-icons">camera_alt</i>
    </div>
    <img class="responsive-img h200" [src]="imagePreview" *ngIf="imagePreview">
  </div>

</div>

<app-positions-form *ngIf="false" [categoryId]="category?.category['_id']"></app-positions-form>


<!-- Modal Structure -->
<div id="modal" class="modal" #modal>
  <div class="modal-content">
    <h4>Are you sure to delete category CATEGORYNAME  ?</h4>
    <p>Category information will be lost!</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="deleteCategory()">Yes</a>
    <a class="modal-close waves-effect waves-green btn-flat" >No</a>
  </div>
</div>

