@import '../../../../../assets/scss-tools/vars';


.page-title {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $standart;
  h3 {
    color: #464c54;
    font-size: 28px;
    span {
      cursor: pointer;
    }
  }
  button {
    padding: 10px 20px;
    border: none;
    color: $accent;
    background: #464c54;
    &:hover {
      color: #858598;
    }
  }
}


.dn {
  display: none;
}
.h200 {
  height: 200px;
}

.cat-form {
  margin-bottom: 20px;
  span {
    color: $accent;
  }
  .btn {
    &:hover {
      background-color: #464c54!important;
    }
  }
  .right {
    .btn {
      background-color: #464c54;
      color: #189a18;
      text-transform: uppercase;
      border: none;
      transition: all .5s;
      &:hover {
        color: $accent;
      }
    }
  }

}

.image-block {
  background-color: rgb(197, 195, 195);
  width: 250px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 50px;
  i {
    font-size: 52px;
    color: rgb(143, 142, 142);
  }
}

@media (max-width: 780px) {
  .page-title {
    h3 {
      font-size: 28px;
    }
  }
}
