<div class="page-title">
  <h3>Category
    <i class="material-icons">keyboard_arrow_right</i>
     Add Category
  </h3>
  <span>
    <button>delete</button>
  </span>

</div>

<div class="row">
  <form class="col s12 l6">
    <div class="input-field">
      <input type="text">
      <label>Name</label>
    </div>

    <div>
      <input type="file" class="dn">
      <button class="btn waves-effect waves-light" type="button">
        <i class="material-icons">backup</i>
        Foto
      </button>
    </div>

    <div>
      <button type="submit" class="waves-effect waves-light btn">Save changes</button>
    </div>

  </form>
</div>

