<ul class="collapsible" #collaps>
  <li>
    <div class="collapsible-header collaps-bg">
      <h5>Sushi</h5>
    </div>
    <div class="collapsible-body">
      <div class="card-content">
        <ul class="order-list">
          <li>
            <div class="order-name">
              <p>Burger X</p>
              <span>Beef, chees, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$8</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Sushi Tokio</p>
              <span>Rice, feesh, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$12</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Chicken Burger</p>
              <span>Chicken, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$10</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Creste di Galli</p>
              <span>Pasta, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$7</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header collaps-bg">
      <h5>Burger</h5>
    </div>
    <div class="collapsible-body">
      <div class="card-content">
        <ul class="order-list">
          <li>
            <div class="order-name">
              <p>Burger X</p>
              <span>Beef, chees, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$8</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Sushi Tokio</p>
              <span>Rice, feesh, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$12</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Chicken Burger</p>
              <span>Chicken, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$10</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Creste di Galli</p>
              <span>Pasta, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$7</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header collaps-bg">
      <h5>Pizza</h5>
    </div>
    <div class="collapsible-body">
      <div class="card-content">
        <ul class="order-list">
          <li>
            <div class="order-name">
              <p>Burger X</p>
              <span>Beef, chees, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$8</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Sushi Tokio</p>
              <span>Rice, feesh, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$12</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Chicken Burger</p>
              <span>Chicken, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$10</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Creste di Galli</p>
              <span>Pasta, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$7</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header collaps-bg">
      <h5>Drink</h5>
    </div>
    <div class="collapsible-body">
      <div class="card-content">
        <ul class="order-list">
          <li>
            <div class="order-name">
              <p>Burger X</p>
              <span>Beef, chees, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$8</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Sushi Tokio</p>
              <span>Rice, feesh, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$12</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Chicken Burger</p>
              <span>Chicken, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$10</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
          <li>
            <div class="order-name">
              <p>Creste di Galli</p>
              <span>Pasta, cheese, potato, onion, fries</span>
            </div>
            <div class="order-cart">
              <span>$7</span>
              <a href="#!" class="order-btn">Add to cart</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
