<section class="section-about">
    <div class="parallax-container">
      <div class="parallax" #aboutParallax>
      <img src="../../../assets/img/bar.jpeg"></div>
      <div class="container">
        <div class="row">
          <div class="col s12 m8 offset-m2">
            <div class="parallax-block">
              <div>
                <h3>Place where do you can relax</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Voluptas atque ab laborum quibusdam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="section-about-rest">
  <div class="overlay-rest">
    <div class="container">
      <div class="row">
        <div class="col s12 m8">
          <h3>Hi Quality</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Accusantium, doloribus perferendis. In enim repellendus,
            dicta suscipit explicabo soluta voluptatem amet ipsa,
            cupiditate veniam sit alias delectus quibusdam.
            Repellendus, labore voluptatibus!</p>
          <ul class="collection">
            <li class="collection-item valign-wrapper">
              <i class="material-icons">favorite_border</i>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </li>
            <li class="collection-item valign-wrapper">
              <i class="material-icons">insert_emoticon</i>
              <p>Lorem ipsum amet consectetur.</p>
            </li>
            <li class="collection-item valign-wrapper">
              <i class="material-icons">laptop_mac</i>
              <p>Lorem ipsum amet consectetur.</p>
            </li>
            <li class="collection-item valign-wrapper">
              <i class="material-icons">local_dining</i>
              <p>Lorem ipsum amet consectetur.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
