
<div class="page-title">
  <h3>Categories</h3>
  <button class="waves-effect waves-light" routerLink="/admin/categories/new">
    Add Category
  </button>
</div>

<div class="row flex" *ngIf="categories" >
  <div class="col s12 m6" *ngFor="let category of categories">
    <div class="category-table" *ngIf="categories.length !== 0; else empty">
      <div class="table-header">
        <h4>{{ category.name }} Categories</h4>
      </div>
      <div class="table-body">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Do changes</th>
            </tr>
          </thead>

          <tbody *ngFor="let loadcategory of category.category">
            <tr>
              <td>{{ loadcategory.title }}</td>
              <td>
                <i class="material-icons" [routerLink]="['/admin/categories', category['_id']]">edit</i>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>



</div>

<ng-template #empty>
  <div class="center">No categories!</div>
</ng-template>

<!-- <ng-template #loader >

</ng-template> -->


<app-admin-loader *ngIf="loader"></app-admin-loader>


