
<div class="page-title">
  <h3>Categories</h3>
  <button class="waves-effect waves-light" routerLink="/admin/categories/new">
    Add Category
  </button>
</div>

<div class="row flex">
  <div class="col s6">
    <div class="category-table">
      <div class="table-header">
        <h4>Food Categories</h4>
      </div>
      <div class="table-body">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Types count</th>
              <th>Do changes</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Burgers</td>
              <td>5</td>
              <td>
                <i class="material-icons">edit</i>
              </td>
            </tr>
            <tr>
              <td>Pizza</td>
              <td>16</td>
              <td>
                <i class="material-icons">edit</i>
              </td>
            </tr>
            <tr>
              <td>Sushi</td>
              <td>10</td>
              <td>
                <i class="material-icons">edit</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="col s6">
    <div class="category-table">
      <div class="table-header">
        <h4>Drink Categories</h4>
      </div>
      <div class="table-body">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Types count</th>
              <th>Do changes</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Juice</td>
              <td>12</td>
              <td>
                <i class="material-icons">edit</i>
              </td>
            </tr>
            <tr>
              <td>Hot drinks</td>
              <td>16</td>
              <td>
                <i class="material-icons">edit</i>
              </td>
            </tr>
          </tbody>
        </table>

    </div>

    </div>

  </div>
</div>

