
<div class="page-title">
  <h3>Categories</h3>
  <button class="waves-effect waves-light">
    Add Category
  </button>
</div>

<div class="row ">
  <div class="col s6">
    <ul class="collapsible" #collaps>
      <li>
        <div class="collapsible-header">Food Categories</div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item">
              <div>Pizza Chicked BBQ<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </div>
            </li>
            <li class="collection-item">
              <div>Pizza Chicked BBQ<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s6">
      <ul class="collapsible" #collapsDrink>
        <li>
          <div class="collapsible-header">Drink Categories</div>
          <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item">
                <div>Pizza Chicked BBQ<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                </div>
              </li>
              <li class="collection-item">
                <div>Pizza Chicked BBQ<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
</div>
<div class="row ">
  <!-- <div class="col s6">
    <ul class="collapsible" #collapsDrink>
      <li>
        <div class="collapsible-header">Food Categories</div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item">
              <div>Pizza Chicked BBQ<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </div>
            </li>
            <li class="collection-item">
              <div>Pizza Chicked BBQ<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div> -->
  <!-- <div class="col s6">
    <ul class="collapsible" #collaps>
      <li>
        <div class="collapsible-header">Burgers</div>
        <div class="collapsible-body">
          <ul class="collection with-header">
            <li class="collection-item">
              <div>Pizza Chicked BBQ<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </div>
            </li>
            <li class="collection-item">
              <div>Pizza Chicked BBQ<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div> -->
</div>

