<section class=" section-slider">
  <div class="carousel carousel-slider center" #slider style="height: 100vh">
    <div class="carousel-item slide-bg-1">
      <div class="slide-title right-align">
        <h2>We do The Best Burgers in London</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Taste it now with our online order
        </h5>
        <a href="/about" class="btn btn-large">About us</a>
      </div>
    </div>
    <div class="carousel-item slide-bg-2">
      <div class="slide-title right-align">
      <h2>Many types of Burgers, Sushi & Pizza</h2>
      <h5 class="light grey-text text-lighten-3 hide-on-small-only">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h5>
      <a href="#" class="btn btn-large">Menu</a>
      </div>
    </div>
    <div class="carousel-item slide-bg-3">
      <div class="slide-title right-align">
        <h2>Sign in for order</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h5>
        <a href="/login" class="btn btn-large">Login</a>
      </div>
    </div>
  </div>
</section>

<section class="section section-cards">
  <div class="container">
    <div class="row">
      <h3 class="center-align">Milano gives you only the best.</h3>
      <div class="col s12 m4">
        <div class="card horizontal" >
          <i class="material-icons large">account_balance_wallet</i>
          <div>
            <h4>Easy Online Payment</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, dignissimos?</p>
          </div>

        </div>
      </div>
      <div class="col s12 m4">
        <div class="card horizontal" >
          <i class="material-icons large">account_box</i>
          <div>
            <h4>User Account</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, dignissimos?</p>
          </div>

        </div>
      </div>
      <div class="col s12 m4">
        <div class="card horizontal" >
          <i class="material-icons large">assignment</i>
          <div>
            <h4>Delivery & Reservation</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, dignissimos?</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-info">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="info-block">
          <h3>Why our Restourant?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Minus odit porro iure laudantium quasi, quis tempora similique distinctio voluptate omnis,
            illo perspiciatis incidunt at nihil itaque doloribus natus? Tenetur, fuga?</p>

            <ul class="collection">
              <li class="collection-item valign-wrapper">
                <i class="material-icons">favorite_border</i>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </li>
              <li class="collection-item valign-wrapper">
                <i class="material-icons">insert_emoticon</i>
                <p>Lorem ipsum amet consectetur.</p>
              </li>
              <li class="collection-item valign-wrapper">
                <i class="material-icons">laptop_mac</i>
                <p>Lorem ipsum amet consectetur.</p>
              </li>
              <li class="collection-item valign-wrapper">
                <i class="material-icons">local_dining</i>
                <p>Lorem ipsum amet consectetur.</p>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-work">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../../../assets/img/open.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              Our Work times
              <i class="material-icons right">more_vert</i>
            </span>
            <p><a href="#" class="btn  btn-block">More Information</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">We work hard for you
              <i class="material-icons right">close</i>
            </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Voluptas maiores corporis exercitationem, eos totam perspiciatis.</p>
            <ul class="collection">
              <li class="collection-item">
                <div>Week days
                  <span href="#!" class="secondary-content">
                    9:00am - 12:00pm
                  </span>
                </div>
              </li>
              <li class="collection-item">
                <div>Bussines days
                  <span href="#!" class="secondary-content">
                    8:00am - 12:00pm
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../../../assets/img/menu.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              About our menu and citchen
              <i class="material-icons right">more_vert</i>
            </span>
            <p><a href="#" class="btn btn-block">Our Menu</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">We make tasty food
              <i class="material-icons right">close</i>
            </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Architecto maiores quos, ab magnam, perferendis nisi accusamus similique
                voluptate ad enim debitis pariatur impedit recusandae.
               Ipsum doloribus debitis voluptatum officia obcaecati.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
               Sint at consequuntur, optio delectus natus molestias.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-order"></section>

<section class="section section-popular">
  <div class="container">
    <div class="row">
      <div class="col s12 m10 offset-m1">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/img/burger2.jpeg">
              <span class="card-title">Most Popular Sales</span>
            </div>
            <div class="card-content">
              <ul class="order-list">
                <li>
                  <div class="order-name">
                    <p>Burger X</p>
                    <span>Beef, chees, potato, onion, fries</span>
                  </div>
                  <div class="order-cart">
                    <span>$8</span>
                    <a href="#!" class="order-btn">Add to cart</a>
                  </div>
                </li>
                <li>
                  <div class="order-name">
                    <p>Sushi Tokio</p>
                    <span>Rice, feesh, potato, onion, fries</span>
                  </div>
                  <div class="order-cart">
                    <span>$12</span>
                    <a href="#!" class="order-btn">Add to cart</a>
                  </div>
                </li>
                <li>
                  <div class="order-name">
                    <p>Chicken Burger</p>
                    <span>Chicken, cheese, potato, onion, fries</span>
                  </div>
                  <div class="order-cart">
                    <span>$10</span>
                    <a href="#!" class="order-btn">Add to cart</a>
                  </div>
                </li>
                <li>
                  <div class="order-name">
                    <p>Creste di Galli</p>
                    <span>Pasta, cheese, potato, onion, fries</span>
                  </div>
                  <div class="order-cart">
                    <span>$7</span>
                    <a href="#!" class="order-btn">Add to cart</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

