<!-- <section class="section section-slider"> -->
    <div class="carousel carousel-slider center" #slider style="height: 100vh;">
        <div class="carousel-item slide-bg-1">
          <!-- <img  src="../../../assets/img/large-burger1.jpeg"> -->
          <h2>Take Your Dream Vacation</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Laboriosam iusto beatae error dolorem, illum similique!
                </h5>
                <a href="#" class="btn btn-large">Learn More</a>

        </div>
        <a class="carousel-item"><img src="../../../assets/img/large-pizza.jpeg"></a>
        <a class="carousel-item" ><img src="../../../assets/img/large-burger1.jpeg"></a>
        <a class="carousel-item"><img src="../../../assets/img/large-pizza.jpeg"></a>

      </div>
<!-- </section> -->
