<footer class="page-footer footer-block">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Milano Restaurant</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          <p class="grey-text text-lighten-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Assumenda ad nam fuga pariatur. Animi, mollitia tenetur maxime nobis
              debitis repellat pariatur totam.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul class="contact-list">
            <li>
              <div class="contact-name">
                <p>New York</p>
                <span>1689 Flatbush Ave, Brooklyn, NY 11210</span>
              </div>
            </li>
            <li>
              <div class="contact-name">
                <p>Email</p>
                <span>milano@tasty.com</span>
              </div>
            </li>
            <li>
              <div class="contact-name">
                <p>Phone</p>
                <span>+756-5544-5885-414225</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright Milano &copy; 2018
      </div>
    </div>
  </footer>
