
  <div class="cart">
    <ul class="sidenav" id="slide-cart" #cart>
      <div class="cart-flex">
        <div>
          <li>
            <a>Your Cart</a>
            <i class="material-icons" (click)="close()">close</i>
          </li>
          <li *ngFor="let order of ordersList" >
            <a>
              <p>
                {{ order.name }} <span> $ {{ order.cost }}</span>
                <i class="material-icons" (click)="removeOrder(order)">close</i>
              </p>
              <span>Quantity {{ order.quantity }}</span>
            </a>
          </li>
          <div class="no-order" *ngIf="ordersList.length === 0">
            <p >No orders!</p>
          </div>

          <div class="total">
            <p>
              Order total: <span>$ {{ price }}</span><br>
              Delivery: <span>$ {{ delivery }}</span>
            </p>
          </div>
          <div class="total">
            <h5>
              Total: <span>$ {{ price > 0? price + delivery: 0 }}</span>
            </h5>
          </div>

        </div>
      </div>
      <li class="cart-btn">
        <a routerLink="/checkout">Go to Checkout </a>
      </li>
    </ul>

  </div>



